<title>Logicong Mobile</title>
<meta charset="utf-8">
<meta content="IE=edge" http-equiv="x-ua-compatible">
<meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<!-- Fonts -->
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
<!-- Icons -->
<link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet"
      type="text/css">
<!-- Styles -->
<link href="/stylesheets/keyframes.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/materialize.min.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/swiper.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/swipebox.min.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/custom.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/custom-index.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/custom-view.css" rel="stylesheet" type="text/css">
<link href="/stylesheets/custom-counsel.css" rel="stylesheet" type="text/css">