<!DOCTYPE html>
<html lang="en-US">
<head>
    {{>header}}
</head>

<body>
<div class="m-scene" id="main"> <!-- Main Container -->

    {{> leftSideBar}}

    <!-- Page Content -->
    <div id="content">

        <!-- Toolbar -->
        <div id="toolbar" class="halo-nav box-shad-none">
            <div class="open-left" id="open-left" data-activates="slide-out-left">
                <i class="ion-android-menu"></i>
            </div>
            <!--<span class="title none">LogiCong !?</span>-->
            <div id="cus-title" class="title none">상담신청</div>
        </div>

        <!-- Hero Header -->
        <div id="short-banner" class="h-banner animated fadeindown">
            <div class="parallax primary-color">

                <div id="short-banner-title">
                    <div class="l5 ececec-color">로지콩에게 물어보세요</div>
                    <div id="cus-title" class="l1 white-text">상담신청</div>
                </div>

            </div>
        </div>

        <!-- Main Content -->
        <div class="animated fadeinup background-color">

            <!-- Pop Out -->
            <div class="pop-out-box">
                <b><p class="l3">로지콩과 관련된 자주묻는 질문들입니다.</p></b>
                <p class="l4">아래의 궁금하신 질의내용을 선택하시면 자세한 답변을 확인하실 수 있습니다.</p>

                <ul class="faq collapsible popout animated fadeinright delay-2 pop-out-box-list"
                    data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header l4">Q 제품을 구매하고 싶은데 어떻게 하면
                            되죠?
                        </div>
                        <div class="collapsible-body"><p>TEXT1</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header l4">Q 소량구매도 가능한가요?</div>
                        <div class="collapsible-body"><p>TEXT2</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header l4">Q 매크로통상의 가맹점 파트너가 되고
                            싶습니다.
                        </div>
                        <div class="collapsible-body"><p>TEXT3</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header l4">Q 메크로통상 제품을 마케팅 및 홍보하고
                            싶습니다.
                        </div>
                        <div class="collapsible-body"><p>TEXT4</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header l4">Q 채용제도는 어떻게 되어있나요?</div>
                        <div class="collapsible-body"><p>TEXT5</p></div>
                    </li>
                </ul>
            </div>


            <div class="blog-card kakao-color">
                <div class="box-custom pos-custom">
                    <p class="l4 brown-text">카카오톡</p>
                </div>

                <div class="blog-preview">
                    <img src="images/logi/Logi-mainkakao.png" alt="">
                    <b><p class="l3 brown-text">로지콩과 카카오친구가 되시면 실시간 상담은 물론 다양한 아이들의 교육정보를 받아보실 수
                        있어요.</p></b>
                    <a href="http://plus.kakao.com/home/lvwnfnbi"
                       class="waves-effect waves-light btn brown">카카오톡</a>
                </div>
            </div>

            <!-- Form Inputs -->
            <div class="form-inputs white-color bottom-box">
                <p class="center l2">로지콩에게 모든 물어보세요!</p>
                <div>
                    <div class="input-field animated fadeinright Logi-input">
                        <input id="first_name" type="text" class="">
                        <label for="first_name">자녀명</label>
                    </div>
                    <div class="input-field animated fadeinright delay-1 Logi-input">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">학년</label>
                    </div>
                </div>
                <div class="input-field animated fadeinright delay-2 Logi-input">
                    <input id="email" type="email">
                    <label for="email">이메일</label>
                </div>
                <div class="input-field animated fadeinright delay-3 Logi-input">
                    <input id="telephone" type="text" class="validate">
                    <label for="telephone">전화번호</label>
                </div>

                <div class="input-field animated fadeinright delay-5 Logi-input">
                    <textarea class="materialize-textarea" id="textarea1"></textarea>
                    <label for="textarea1">문의사항</label>
                </div>
                <br>

                <a class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6"
                   href="index.html">Send</a>
            </div>

            {{> footerCopyright}}

        </div> <!-- End of Main Contents -->


    </div> <!-- End of Page Content -->

</div> <!-- End of Page Container -->


{{> footer}}
</body>
</html>