<!DOCTYPE html>
<html lang="en-US">
<head>
    <title>Halo - Mobile Template</title>
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <!-- Icons -->
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" media="all" rel="stylesheet"
          type="text/css">
    <!-- Styles -->
    <link href="/stylesheets/keyframes.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/materialize.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/swiper.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/swipebox.min.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/custom.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/custom-index.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/custom-view.css" rel="stylesheet" type="text/css">
    <link href="/stylesheets/custom-counsel.css" rel="stylesheet" type="text/css">

</head>

<body>
<div class="m-scene" id="main"> <!-- Main Container -->

    <!-- Sidebars -->
    <!-- Left Sidebar -->
    <ul id="slide-out-left" class="side-nav collapsible">
        <li>
            <div class="sidenav-header primary-color">
                <div class="nav-social">
                    <i class="ion-social-facebook"></i>
                    <i class="ion-social-twitter"></i>
                    <i class="ion-social-tumblr"></i>
                </div>
                <div class="nav-avatar">
                    <img class="circle avatar" src="images/user.jpg" alt="">
                    <div class="avatar-body">
                        <h3>Logicong</h3>
                    </div>
                </div>
            </div>
        </li>

        <li><a href="/" class="no-child"><i class="ion-android-home"></i> HOME</a></li>
        <li><a href="/logicong" class="no-child"><i class="ion-person-stalker"></i> Logicong</a></li>
        <li><a href="/swEdu" class="no-child"><i class="ion-university"></i> SW교육센터</a></li>
        <li><a href="/blog" class="no-child"><i class="ion-social-rss"></i> BLOG</a></li>
        <li><a href="/notice" class="no-child"><i class="ion-alert-circled"></i> 공지모집</a></li>
        <li><a href="/counsel" class="no-child"><i class="ion-ios-telephone"></i> 상담신청</a></li>
    </ul>
    <!-- End of Sidebars -->

    <!-- Page Content -->
    <div id="content">

        <!-- Toolbar -->
        <div id="toolbar" class="halo-nav box-shad-none">
            <div class="open-left" id="open-left" data-activates="slide-out-left">
                <i class="ion-android-menu"></i>
            </div>
            <span class="title none">LogiCong !?</span>
        </div>

        <!-- Hero Header -->
        <div id="short-banner" class="h-banner animated fadeindown">
            <div class="parallax primary-color">

                <div class="header-text-pos">
                    <div class="l4 text-color">로지콩에게 물어보세요</div>
                    <div class="l1 white-text">상담신청</div>
                </div>

            </div>
        </div>

        <!-- Main Content -->
        <div class="animated fadeinup background-color">

            <!-- Pop Out -->
            <div class="pop-out-box">
                <b><p class="l3">로지콩과 관련된 자주묻는 질문들입니다.</p></b>
                <p class="l4">아래의 궁금하신 질의내용을 선택하시면 자세한 답변을 확인하실 수 있습니다.</p>

                <ul class="faq collapsible popout animated fadeinright delay-2 pop-out-box-list"
                    data-collapsible="accordion">
                    <li>
                        <div class="collapsible-header l4">Q 제품을 구매하고 싶은데 어떻게 하면
                            되죠?
                        </div>
                        <div class="collapsible-body"><p>TEXT1</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header l4">Q 소량구매도 가능한가요?</div>
                        <div class="collapsible-body"><p>TEXT2</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header l4">Q 매크로통상의 가맹점 파트너가 되고
                            싶습니다.
                        </div>
                        <div class="collapsible-body"><p>TEXT3</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header l4">Q 메크로통상 제품을 마케팅 및 홍보하고
                            싶습니다.
                        </div>
                        <div class="collapsible-body"><p>TEXT4</p></div>
                    </li>
                    <li>
                        <div class="collapsible-header l4">Q 채용제도는 어떻게 되어있나요?</div>
                        <div class="collapsible-body"><p>TEXT5</p></div>
                    </li>
                </ul>
            </div>


            <div class="blog-card kakao-color">
                <div class="box-custom pos-custom">
                    <p class="l4 brown-text">카카오톡</p>
                </div>

                <div class="blog-preview">
                    <img src="images/logi/Logi-mainkakao.png" alt="">
                    <b><p class="l3 brown-text">로지콩과 카카오친구가 되시면 실시간 상담은 물론 다양한 아이들의 교육정보를 받아보실 수
                        있어요.</p></b>
                    <a href="http://plus.kakao.com/home/lvwnfnbi"
                       class="waves-effect waves-light btn brown">카카오톡</a>
                </div>
            </div>

            <!-- Form Inputs -->
            <div class="form-inputs white-color bottom-box">
                <p class="center l2">로지콩에게 모든 물어보세요!</p>
                <div>
                    <div class="input-field animated fadeinright Logi-input">
                        <input id="first_name" type="text" class="">
                        <label for="first_name">자녀명</label>
                    </div>
                    <div class="input-field animated fadeinright delay-1 Logi-input">
                        <input id="last_name" type="text" class="validate">
                        <label for="last_name">학년</label>
                    </div>
                </div>
                <div class="input-field animated fadeinright delay-2 Logi-input">
                    <input id="email" type="email">
                    <label for="email">이메일</label>
                </div>
                <div class="input-field animated fadeinright delay-3 Logi-input">
                    <input id="telephone" type="text" class="validate">
                    <label for="telephone">전화번호</label>
                </div>

                <div class="input-field animated fadeinright delay-5 Logi-input">
                    <textarea class="materialize-textarea" id="textarea1"></textarea>
                    <label for="textarea1">문의사항</label>
                </div>
                <br>

                <a class="waves-effect waves-light btn-large primary-color width-100 animated bouncein delay-6"
                   href="index.html">Send</a>
            </div>

            <!-- Footer -->
            <footer class="page-footer primary-color">
                <div class="container">
                    <div class="row">
                        <div class="col s12">
                            <p class="center-align grey-text text-lighten-4">You can use rows and columns here to
                                organize your footer content.</p>
                            <div class="center-align">
                                <i class="ion-social-facebook m-10 white-text"></i>
                                <i class="ion-social-twitter m-10 white-text"></i>
                                <i class="ion-social-pinterest m-10 white-text"></i>
                                <i class="ion-social-dribbble m-10 white-text"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-copyright primary-color darken-1">
                    <div class="container">
                        2016 Codnauts
                        <a class="grey-text text-lighten-4 right" href="#!">Privacy Policy</a>
                    </div>
                </div>
            </footer>
        </div> <!-- End of Main Contents -->


    </div> <!-- End of Page Content -->

</div> <!-- End of Page Container -->


<script src="/javascripts/jquery-2.1.0.min.js"></script>
<script src="/javascripts/jquery.swipebox.min.js"></script>
<script src="/javascripts/jquery.smoothState.min.js"></script>
<script src="/javascripts/materialize.min.js"></script>
<script src="/javascripts/swiper.min.js"></script>
<script src="/javascripts/jquery.mixitup.min.js"></script>
<script src="/javascripts/masonry.min.js"></script>
<script src="/javascripts/chart.min.js"></script>
<script src="/javascripts/functions.js"></script>
<script src="/javascripts/custom-view.js"></script>
</body>
</html>