<!DOCTYPE html>
<html lang="en-US">
<head>
    {{> header}}
</head>

<body>
<div class="m-scene" id="main"> <!-- Main Container -->

    {{> leftSideBar }}

    <!-- Page Content -->
    <div id="content">

        <!-- Toolbar -->
        <div id="toolbar" class="halo-nav box-shad-none">
            <div class="open-left" id="open-left" data-activates="slide-out-left">
                <i class="ion-android-menu"></i>
            </div>
            <div id="cus-title" class="title none">로지콩 !?</div>
        </div>

        <!-- Hero Header -->
        <div id="short-banner" class="h-banner animated fadeindown">
            <div class="parallax primary-color">

                <div class="floating-button animated bouncein delay-6">
                    <!-- icon setting -->
                    <span class="btn-floating resize btn-large waves-effect waves-light kakao-color btn z-depth-1">
                        <img id="icon-fix" class="icon-size" src="/images/logi/icon_kakao.png" />
                    </span>
                </div>

                <div id="short-banner-title">
                    <div class="l5 ececec-color">어린이를 위한 코딩교육플랫폼</div>
                    <div id="cus-title" class="l1 white-text">로지콩 !?</div>
                </div>

            </div>
        </div>

        <!-- Article Content -->
        <div class="animated fadeinup delay-3">
            <div class="page-content">
                <p class="text-flow">
                    <span class="dropcap">A</span>
                    wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart. I am alone, and feel the charm of existence in this spot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.
                    A wonderful serenity has taken possession of my entire soul, like these sweet mornings of spring which I enjoy with my whole heart.</p>
                <blockquote class="logicong-border">"The quick, brown fox jumps over a lazy dog. DJs flock by when MTV ax quiz prog."</blockquote>


                <!-- Slider -->
                <div class="swiper-container slider m-b-20">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img src="/images/1.jpg" alt="">
                        </div>
                        <div class="swiper-slide">
                            <img src="/images/1.jpg" alt="">
                        </div>
                    </div>
                    <!-- Add Arrows -->
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                    <!-- Add Pagination -->
                    <div class="swiper-pagination"></div>
                </div>
                <!-- End of Slider -->
                <p class="text-flow"><b>I am alone:</b> and feel the charm of existence in thisspot, which was created for the bliss of souls like mine. I am so happy, my dear friend, so absorbed in the exquisite sense of mere tranquil existence, that I neglect my talents.</p>

                <!-- Share -->
                <div class="share center-align m-t-30">
                    <h3 class="uppercase">Share it!</h3>
                    <i class="ion-social-facebook p-20 blue-text text-darken-4"></i>
                    <i class="ion-social-twitter p-20 blue-text"></i>
                    <i class="ion-social-pinterest p-20 red-text"></i>
                </div>
            </div>

        </div>

        {{> footerCopyright }}

    </div>  <!-- End of Page Content -->

</div>  <!-- End of Page Container -->
{{> footer }}
</body>
</html>