<!-- Sidebars -->
<!-- Left Sidebar -->
<ul id="slide-out-left" class="side-nav collapsible">
    <li>
        <div class="sidenav-header primary-color">
            <div class="nav-social">
                <i class="ion-social-facebook"></i>
                <i class="ion-social-twitter"></i>
                <i class="ion-social-tumblr"></i>
            </div>
            <div class="nav-avatar">
                <img class="circle avatar" src="images/user.jpg" alt="">
                <div class="avatar-body">
                    <h3>Logicong</h3>
                </div>
            </div>
        </div>
    </li>

    <li><a href="/" class="no-child"><i class="ion-android-home"></i> HOME</a></li>
    <li><a href="/logicong" class="no-child"><i class="ion-person-stalker"></i> Logicong</a></li>
    <li><a href="/swEdu" class="no-child"><i class="ion-university"></i> SW교육센터</a></li>
    <li><a href="/blog" class="no-child"><i class="ion-social-rss"></i> BLOG</a></li>
    <li><a href="/notice" class="no-child"><i class="ion-alert-circled"></i> 공지모집</a></li>
    <li><a href="/counsel" class="no-child"><i class="ion-ios-telephone"></i> 상담신청</a></li>
</ul>
<!-- End of Sidebars -->