/*
여기는 view page에 공통으로 들어가는 css 입니다
created by supermoon
*/

/*h-banner custom */
.short-banner {
    height: 172px !important;
}
/*h-banner-title custom */
#short-banner-title {
    line-height: 1.5 !important;
    margin : 57px;
}

/* icon[img] custom 위치 잡기*/
#icon-fix {
    min-height: 0%;
    min-width : 0%;
    height : 45px;
    width : 45px;
    margin-bottom: 8%;
}

/* ...처리 height fix [className - .box 고정]*/
.box {
    height : 50px !important;
}




