/*
여기는 view page에 공통으로 들어가는 css 입니다
created by supermoon
*/

.header-text-pos {
    margin : 45px;
}

#short-banner {
    height: 155px;
}

#icon-fix {
    min-height: 0%;
    min-width : 0%;
    height : 40px;
    width : 40px;
    margin-bottom: 10%;
}
