/*
여기는 페이지마다 공통적으로 들어가는 css를 넣는 곳입니다
created by se june
1. 폰트
2. 색상, 이미지
3. 간격
4. 커스텀 클래스
*/


/*    1. 폰트     */

html{
    line-height: 2.0;
}

.l1{
    font-size: 22.5px;
}
.l2{
    font-size: 20px;
}
.l3{
    font-size: 14px;
}
.l4{
    font-size: 12px;
}
.l5{
    font-size : 18px;
}


/*    2. 색상, 이미지    */
.bg-1 {
    background: url(../images/1.jpg) no-repeat center / cover !important;
}
.kakao-color {
    background-color: #fcec27;
}

.yellow-color{
    background-color: #FFF46D !important;
}

.white-color{
    background-color: #FFFFFF;
}

.background-color{
    background-color: #F1F4F5;
}

.primary-color{
    background-color: #4cc378 !important;
}

.green-text{
    color: #166D50 !important;
}

.halo-nav.h-bg {
    background-color: #4cc378 !important;
}

/*    3. 간격     */
.p-0{
    padding : 0 !important;
}

.p-t-50 {
    padding-top: 50px !important;
}

.ratio4-3{
    height: 75vw;
    width: 100vw;
}

/*    4. 커스텀 클래스    */
.box-custom {
    z-index: 2;
    position: absolute;
    margin: 4.2vw 0 0 4.2vw;
    padding: 5px 5px 5px 5px;
    z-index: 1;
    display: inline-block;
    border: 1px solid white;
}