/*
여기는 view page에 공통으로 들어가는 css 입니다
created by supermoon
*/


.header-text-pos {
    margin : 57px;
}

#short-banner {
    height: 172px;
}

#icon-fix {
    min-height: 0%;
    min-width : 0%;
    height : 45px;
    width : 45px;
    margin-bottom: 8%;
}

#cus-line-height {
    line-height: 1.5 !important;
}
